<% if is_admin? %>
  <div class='admin_links'>
    <p>
      <%= link_to(" Create new competition for sponsor #{current_project().program.program_title} (admins only)",
          new_project_path, class: 'btn btn-success')  %>
    </p>
    <p>
      <%= link_to "View all submissions for #{current_project().project_title} (admins only)", submissions_project_admins_path(current_project().id), class: 'btn btn-success' %>
    </p>
    <p>
      <%= link_to(' View reviews for all submissions',
                   all_reviews_project_path(current_project.id), :title=>"Click here to view the summary of review comments for all submissions", class: 'btn btn-success' ) %>
    </p>
  </div>
<% end %>
