/*body {
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-family: Arial;
	font-size: 12px;
	line-height:16px;
}

hr{
  border: 1px solid #FFFFFF;
}

a:link{
	color: #0055CC;
}
a:visited{
	color: #990099;
}
a:hover{
	color: #CC0000;
}

th{
 	font-weight:bold;
}

td{
 	text-align:center;
}*/